# Python
__pycache__/
*.py[cod]
*$py.class

# ROS build files
build/
install/
log/

# Ardusub mission files
logs/


# Allows custom tasks
.vscode/*
!.vscode/tasks.json
!.vscode/easy_build.sh
!.vscode/easy_all.sh

# Video Files
*.mp4

# Mac Files @Georgia
*.DS_Store
