[submodule "src/pi/manipulators/TCA9555"]
	path = src/pi/manipulators/TCA9555
	url = git@github.com:leloup314/TCA9555.git
[submodule "src/surface/ros2_video_streamer"]
	path = src/surface/ros2_video_streamer
	url = git@github.com:cwruRobotics/ros2_video_streamer.git
[submodule "src/interfaces/px4_msgs"]
	path = src/interfaces/px4_msgs
	url = git@github.com:PX4/px4_msgs.git
[submodule "src/surface/rov_simulation/MicroXRCEAgent"]
	path = src/surface/rov_simulation/MicroXRCEAgent
	url = https://github.com/eProsima/Micro-XRCE-DDS-Agent.git
