<?xml version="1.0"?>

<model>
  <name>ROV24</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Noah Mollerstuen</name>
    <email>nrm98@case.edu</email>
  </author>

  <maintainer>Noah Mollerstuen</maintainer>

  <description>
    CWRUbotix MATE ROV bot, based on BlueRov Heavy Model.
  </description>
</model>