[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/rov/rov-24/src/pi/pi_main/scripts/pi_main.sh
[Install]
WantedBy=multi-user.target