<?xml version="1.0"?>

<model>
  <name>ROV24</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Noah Mollerstuen</name>
    <email>nrm98@case.edu</email>
  </author>

  <maintainer>Noah Mollerstuen</maintainer>

  <description>
    Combines models of the ROV and the brain coral (bowl) to test autonomous manipulation of the coral
  </description>
</model>