QWidget { background-color: #ffb5e4; color: #1f7d1f; }
QWidget[customStyle="inactive"] { background-color: #e0a2c9; }
QWidget[customStyle="on"] { background-color: #ed8f2b; }
QWidget[customStyle="off"] { background-color: #f92b4f; }