<?xml version="1.0"?>

<model>
  <name>Pool</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Noah Mollerstuen</name>
    <email>nrm98@case.edu</email>
  </author>

  <maintainer>Noah Mollerstuen</maintainer>

  <description>
    A generic pool to use as a basis for ROV testing
  </description>
</model>